.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.myyimg {
  width: 65%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardAbout {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.img-home {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.tt_1 {
  background-color: #ffced2;
}
.tt_2 {
  background-color: #ef8243;
}
.tt_3 {
  background-color: #58c3c3;
}

.ctitle {
  font-family: "Times New Roman", Times, serif;
  color: #000;
}
.ctext {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.videohead {
  text-align: center;
  font-size: 36px;
  color: #003479;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.y_video {
  margin-top: 30px;
  margin-bottom: 100px;
  background-image: ("../public/homepage.jpg");
}

.chat {
  position: "absolute";
  margin-bottom: 0%;
  margin-right: 0%;
}

table.table-bordered {
  border: 2px solid rgb(30, 30, 31);
}

.welcome {
  font-size: 60px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* .jum{
  text-align: center;
  margin-top: 200px;
} */


.jumbotron {
  background-image: "../public/slide_1.jpg";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 2rem 1rem;
  margin-left: 30%;
  margin-right: 15%;
  height: 300px;
  margin-top: 200px;
  background-color: #e9ecef;
  border-radius: .3rem;
}
.lead{
  font-size: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
